<%- include('partials/header') %>
    <%- include('partials/nav') %>
        <h1>Success!</h1>
        <p>
            <%= entry.name %> GeoJSON entry has been created.
        </p>

        <a href="//pload-geo" class="btn btn-primary btn-lg mx-auto d-block">Back to listings</a>
        <%- include('partials/footer') %>