body {
    background-color: #E8ECEF;
}

.centered {
    margin: auto;
    text-align: center;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
    /* Adjust the height as needed */
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}